<h1>About divsoup</h1>

<p>divsoup is a highbrow website analysis tool that judges your HTML with the unforgiving scrutiny of a blind principal engineer who reads MDN for fun.</p>

<p>There is no point to this site and I reserve the right to take it down at any moment because it's kind of expensive.</p>
